<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="header-wrapper">
  <div id="header-left">
    <img src = "../../../assets/hacker_news_logo.png" class = "hacker_news_logo">
  </div>
  <div id="header-right">
    Follow us
    <a href="https://www.facebook.com/thehackernews" rel="noopener" target="_blank" class = "header_logo_font"><i class="fa fa-facebook-square"></i></a>
    <a href="https://twitter.com/thehackersnews" rel="noopener" target="_blank" class = "header_logo_font"><i class="fa fa-twitter"></i></a>
    <a href="https://www.youtube.com/c/thehackernews?sub_confirmation=1" rel="noopener" target="_blank" class = "header_logo_font"><i class="fa fa-youtube"></i></a>
    <a href="https://www.linkedin.com/company/thehackernews/" rel="noopener" target="_blank" class = "header_logo_font"><i class="fa fa-linkedin"></i></a>
  </div>
</div>