<div id="header-wrapper">
  <div id="header-left">
    <a [routerLink]="['/newstories']" routerLink="active" class = "cool-link">New Stories</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/beststories']" routerLink="active" class = "cool-link">Best Stories</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/askstories']" routerLink="active" class = "cool-link">Ask Stories</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/showstories']" routerLink="active" class = "cool-link">Show Stories</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/jobstories']" routerLink="active" class = "cool-link">Job Stories</a>
  </div>
</div>
